<!--
/*
 * Copyright (c) 2009-2010 Akritiv Technologies, Inc.  All Rights Reserved.
 * This software is the confidential and proprietary information
 * (Confidential Information) of Akritiv Technologies, Inc.  You shall not
 * disclose or use Confidential Information without the express written
 * agreement of Akritiv Technologies, Inc.
 */
-->
<!--
/*
 *   Displays Aging chart for billed and unbilled  buckets. Can show just text
 *   values or can show images using google APIs.
 */
-->
<apex:page standardController="Account"
    extensions="AccountAgingChartController" standardStylesheets="false">
   
    <apex:pageBlock >
        <apex:pageBlockSection >
            <apex:pageBlockSectionItem >
                <apex:outputLabel >{!$Label.Label_Current}</apex:outputLabel>
                <apex:outputText value="{!current}"></apex:outputText>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputLabel >{!$Label.Label_Bucket1_30}</apex:outputLabel>
                <apex:outputText value="{!age1To30}"></apex:outputText>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputLabel >{!$Label.Label_Bucket31_60}</apex:outputLabel>
                <apex:outputText value="{!age31To60}"></apex:outputText>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputLabel >{!$Label.Label_Bucket61_90}</apex:outputLabel>
                <apex:outputText value="{!age61To90}"></apex:outputText>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputLabel >{!$Label.Label_Bucket91_180}</apex:outputLabel>
                <apex:outputText value="{!age91To180}"></apex:outputText>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputLabel >{!$Label.Label_Bucket_Over_180}</apex:outputLabel>
                <apex:outputText value="{!ageOver180}"></apex:outputText>
            </apex:pageBlockSectionItem>

        </apex:pageBlockSection>
    </apex:pageBlock>
</apex:page>