<!--
 /*
  *Copyright (c) 2009-2010 Akritiv Technologies, Inc.  All Rights Reserved.
  *This software is the confidential and proprietary information
  *(Confidential Information) of Akritiv Technologies, Inc.  You shall not
  *disclose or use Confidential Information without the express written
  *agreement of Akritiv Technologies, Inc.
  */
-->
<!--
    /*
     * Default Force.com page for post-authentication errors
     */
-->
<apex:page showHeader="false" title="{!$Label.site.error2}">
    <apex:composition template="{!$Site.Template}">
        <apex:define name="body">
            <center><apex:panelGrid bgcolor="white" columns="1"
                style="align: center;">
                <br />
                <br />
                <apex:panelGrid width="758" cellpadding="0" cellspacing="0"
                    bgcolor="white" columns="1" styleClass="topPanelContainer">
                    <br />
                    <apex:outputPanel layout="block" styleClass="topPanel">
                        <apex:panelGrid width="758" cellpadding="0" cellspacing="0"
                            bgcolor="white" columns="3">
                            <apex:image url="{!URLFOR($Resource.SiteSamples, 'img/clock.png')}" />
                            <apex:image url="{!URLFOR($Resource.SiteSamples, 'img/warning.gif')}" />
                            <apex:panelGroup >
                                <apex:outputText styleClass="title" value="{!$Label.site.error}">
                                    <apex:param value="{!$Site.ErrorMessage}" />
                                    <!-- this parameter needs to be italic in the site.error label -->
                                </apex:outputText>
                                <br />
                                <br />
                                <apex:outputText escape="false"
                                    value=" {!$Label.site.get_in_touch}">
                                    <apex:param value="mailto:{!$Site.AdminEmailAddress}" />
                                    <apex:param value="{!$Label.site.email_us}" />
                                </apex:outputText>
                            </apex:panelGroup>
                        </apex:panelGrid>
                    </apex:outputPanel>
                    <c:SitePoweredBy />
                </apex:panelGrid>
                <br />
                <apex:messages />
                <br />
            </apex:panelGrid></center>
        </apex:define>
    </apex:composition>
</apex:page>