<!--
/*
* Copyright (c) 2009-2010 Akritiv Technologies, Inc.  All Rights Reserved.
* This software is the confidential and proprietary information
* (Confidential Information) of Akritiv Technologies, Inc.  You shall not
* disclose or use Confidential Information without the express written
* agreement of Akritiv Technologies, Inc.
*/
-->
<apex:component controller="DualDropDownList" id="ctrlDualDropDownList" >
<!-- Style to be applied on the label lblPrimaryMessage -->
<style> .red{ color: red; } </style>

<!-- Attributes to be made available on the page-->
<apex:attribute description="list of items" name="ItemsList" assignTo="{!strItems}" type="String[]" />
<apex:attribute description="list of selected items" name="SelectedItemsList" assignTo="{!strSelectedItems}" type="string[]" />
<apex:attribute description="set the width of the list boxes" name="ListboxWidth" assignTo="{!lstWidth}" type="String" required="false" default="300" />
<apex:attribute description="set the visibility of search label and textbox" name="SearchVisibility" assignTo="{!strDisplay}" type="String" required="false" default="block" />

<table cellpadding="3px" cellspacing="0" >
<tr style="display:{!strDisplay}">
<td colspan = "4"><apex:outputLabel for="searchText" id="searchTextLabel"><b>{!$Label.Label_Search_Colon}</b></apex:outputLabel></td>
</tr>
<tr style="display:{!strDisplay}">
<td colspan = "4"><apex:inputText id="searchText" style="width:144px" onkeyup="javascript:dualSelect_SetFilter_OnAvailList(this,'lstItems','lstSelectedItems');return false;" /></td>
</tr>
<tr>
<td width="30%"><apex:outputLabel ><b>{!$Label.Label_Available_Items}</b></apex:outputLabel></td>
<td width="15%">&nbsp; </td>
<td width="30%"><apex:outputLabel ><b>{!$Label.Label_Selected_Items}</b></apex:outputLabel></td>
<td width="25%">&nbsp;</td>
</tr>
<tr>
<td>
<select multiple="true" size="10" style="Width:{!lstWidth}px" id="{!$COMPONENT.ctrlDualDropDownList}:lstItems" onchange="javascript:ShowText(this,'lblSelectedItemText');" >
<apex:repeat value="{!Items}" var="itemLists">
<apex:repeat value="{!itemLists}" var="itemList">
<Option value="{!itemList.key}"> {!itemList.val}</Option>
</apex:repeat>
</apex:repeat>
</select>
</td>
<td style="padding-top:60px">
<table cellspacing="0px">
<tr>
<td>
<apex:image alt="{!$Label.Label_Add}" title="{!$Label.Label_Add}" styleclass="rightArrowIcon" value="/s.gif" id="btnMoveRight" onclick="javascript:DualSelect_MoveElement(this,'lstItems','lstSelectedItems',true); return false;" />
</td>
</tr>
<tr>
<td>
<apex:image alt="{!$Label.Label_Remove}" title="{!$Label.Label_Remove}" styleclass="leftArrowIcon" value="/s.gif" id="btnMoveLeft"  onclick="javascript:DualSelect_MoveElement(this,'lstSelectedItems','lstItems',false);return false;" />
</td>
</tr>
</table>
</td>
<td width="250px">
<select multiple="true" size="10" style="Width:{!lstWidth}px" id="{!$COMPONENT.ctrlDualDropDownList}:lstSelectedItems" onfocus="javascript:changePrimary(this);" onblur="javascript:changePrimary(this);" onchange="javascript:changePrimary(this);ShowText(this,'lblSelectedItemText');">
<apex:repeat value="{!SelectedItems}" var="selectedItemLists">
<apex:repeat value="{!selectedItemLists}" var="selectedItemList">
<Option value="{!selectedItemList.key}"> {!selectedItemList.val}</Option>
</apex:repeat>
</apex:repeat>
</select>
</td>
<td style="padding-top:60px">
<table cellspacing="0px">
<tr>
<td>
<apex:image alt="{!$Label.Label_Up}" title="{!$Label.Label_Up}" value="/s.gif" styleclass="upArrowIcon" id="btnMoveUp" onclick="javascript:MoveListItem(this,'lstSelectedItems',true);return false;" />
</td>
</tr>
<tr>
<td>
<apex:image alt="{!$Label.Label_Down}" title="{!$Label.Label_Down}" value="/s.gif" styleclass="downArrowIcon"  id="btnMoveDown" onclick="javascript:MoveListItem(this,'lstSelectedItems',false);return false;" />
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td colspan="1">
<apex:outputLabel value="" id="lblSelectedItemText" ></apex:outputLabel>
</td>
<td>&nbsp;</td>
<td colspan="2"></td>
</tr>
</table>

</apex:component>